*{
    padding: 0;
    margin: 0;
}
.wrapper{
    z-index: -2;
    background-color: #ff8d22;
    perspective: 10px;
    perspective: 10px;
}
header{
    z-index: 1;
    background-color:white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    height: 10vh;
    width: 100vw;
}
#hamburger-icon{
    padding: 14px;
}
.hamburger-bar{
    width: 60px;
    height: 6px;
    margin: 10px;
    background-color:white;
    border-radius: 10px;
    transition: 200ms;
    background-color: #FF8D22;
}
#menu{
    font-size: 40px;
}
#search{
    margin-right: 30px;
    width: 40px;   
}
#logo{
    font-family: 'Manrope', sans-serif;
    color: #ff8d22;
    font-size: 80px;
    transform: translateY(0px);
}
#y{
    transform: translateY(3px);
    font-weight: 100;
    color: white;
} 

   

#m{
    transform: translateY(3px);
    position: relative;
    color: orangered;
    font-family: 'Manrope', sans-serif;
    transform: translate(43px,0px);    
    opacity: 1;
    font-size: 80px;
    animation: m-move normal  2s ;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
#y{
    color: orangered;
    animation: y-move normal  2s ;
    animation-fill-mode: forwards;
    animation-delay:0.7s;
    transform: translateY(-200px);
    font-size: 80px;
    font-weight: 700;
}
.logo{
    z-index: 5;
    display: flex;
    align-items: center;
}
/* intro page */
#intro-page{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100vh;
    width: 100vw;
}

#intro-text{
    color: white;
 
}
.intro-text{
    color: white;
    text-align: center;
    font-size: 80px;
    font-family: 'Josefin Sans', sans-serif;
}
#yourself{
    opacity: 0;

    animation: yourself-opacity normal 3s ;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    font-style: italic;
    transition: 1000ms;
}
#yourself{
    color: rgb(255, 56, 56);
}
#rate{
    color: white;
}
@keyframes y-move {
    from{
    }
    to{
        transform: translateY(-5px);
    }
}
@keyframes m-move {
    from{

    }
    to{
        transform: translate(0px,0px);
    }
}

@keyframes yourself-opacity {
    from{
        opacity: 0;
    }
    to{
        /* text-shadow:3px 3px white; */
        opacity: 1;
    }
}

/* random movie section */

#random-movie{
    width: 100vw;
    height: fit-content;
   background-image: url("/img/graduate.png");
   background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#random-movie-title{
    font-family: 'Manrope', sans-serif;
    font-size: 150px;
    max-width: 90vw;
    color: #FF8D22;
}
.random-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;

}
#random-generator{
 height: 80vh;
 background-color: white;
 background-color: #FF8D22;;
 color: white;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 60px;
}
#random-button{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    background-color: white;
    color: #FF8D22;
    border: none;
    width: 400px;
    height: 90px;
    font-size: 27px;
    border-radius:  20px;
}
#random-button:hover{
    background-color: #FF8D22;
    border: white solid 4px;
    color: white;
    transition: 200ms;
    transform:translate(0,-10px)
}


/* week picks */
#week-picks-container{
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url("/img/real-intothewild.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* border-bottom: white 3px solid; */
   
}
#week-img{
    width:100%;
    height: 100%;
     /* background-color: blue; */


}
#week-picks{
    top: 30%;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
    font-size: 60px;
    color: #72BE8B;
   
}
#week-pick-title{
    padding-top: 15%;
 color: white;
 font-family: 'Manrope', sans-serif;
 font-size: 80px;
}

#img{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40%;
    width:100%
    
}

#week-picks-content{
    height: 100vh;
   background-image: url(/img/Into-The-Wild-movie.webp);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
}
#into-title{
    padding-top: 60px;
}
#into-desc{
    font-size: 45px;
    text-align: center;
   
}
#into-genre{
    font-size: 20px;
}
#breakfast-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    
   
}
#breakfast-img{
    height: 100%;
    width: 40%;
    background-image: url(/img/breakfast.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}

#breakfast-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
    width: 60%;
    height: 100%;
    color: #296287;
 font-size: 80px;
}
#breakfast-title{
    padding-top: 50px;
    text-align: center;
  
}
#break-desc{
     color: white;
    width: 80%;
    font-size: 55px;
    text-align: center;
}
#breakgenre{
    font-size: 25px;
    color: white;
}
#the-big-ebowski-pic{
    width: 100vw;
    height: 100vh;
    background-image: url(/img/The-Big-Lebowski.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#big-text{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 40px;
    width: 60%;
    text-align: center;
}
#the-big-title{
    font-family: 'DM Serif Display', serif;
  font-size: 150PX;
  color: #FF8D22;
   animation: big-italic 2s infinite;
 }
 #the-big-desc{
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
   
    align-items: center;
    height: 20%;
    background-color: white;
    color: #FF8D22;
 }
 #big-desc-container
 {
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    width: 100vw;
   background-image: url(/img/vice.webp);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
    width: 100%;
    font-size: 40px;
    text-align: center;
    overflow-x: hidden;

 }

.hidden{
   opacity: 0;
   transition: all 2s;
}
 .show{
    opacity: 1;
 }
 @keyframes big-italic {
    0%{ text-shadow: 8px 8px orangered; transform: scale(100%);} 
    50%{ text-shadow: 4px 4px orangered; transform: scale (150%);}
    100%{text-shadow: 8px 8px orangered; transform:scale(100%);}
 }