*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.wrapper{
    z-index: -2;
    background-color: #ff8d22;
}
header{
    backdrop-filter: blur(15px);
    z-index: 5;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: stretch;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    height: 100px;
    width: 100vw;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.287);
    /* filter: blur(8px); */
}
#hamburger-icon{
    position: absolute;
    z-index: 16;
}
#search-icon-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: translateY(0px);
    margin-right: 20px;
    border-radius: 40px;
}
#search-icon{
    opacity: 1;
    width: 40px;   
}

#search-icon-input{
  border: none;
    color:black;
    height: 45px;
    width:0;
    border-radius: 40px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);

    /* opacity: 0; */
}
#search-icon-input:focus{
    outline: none;
}
/* input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 100px;
    width: 100px;
   margin: 50px 0 0 40px;
    background-image: url("/img/clear-sign.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  } */
#search-icon-results{
    border-bottom-left-radius: 10px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(20px);
    margin-top: 100px;
    z-index: 4;
    right: 0;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.287);
}
.MovieSearchItem{
   padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    /* border-bottom: solid white 2px; */
    /* border-left: solid white 2px; */
    display: flex;
    align-items: flex-start;
    width: 600px;
}
.icon-search-list-desc{
    color: rgb(108, 108, 108);
}
.icon-desc{
    color: #FF8D22;
}
.icon-search-list-genres span{
    color: #FF8D22;
}
.icon-search-release span{
    color: #FF8D22;
}
.icons-thumbnail img{
    width: 100px;
}
.MovieSearchItem:hover{
    background: rgba(255, 255, 255, 0.85);
    
}
.icon-search-title{
    font-size: 40px;
}
#hamburger-menu{

}
#hamburger-icon{
    transform: translateY(45%);
}
.hamburger-bar{
    width: 60px;
    height: 6px;
    margin: 10px;
    background-color:white;
    border-radius: 10px;
    transition: 400ms;
    background-color: orangered;
}
#hamburger-links{
    top: 0;
    opacity: 0;
    width: 600px;
    height: 100vh;
    background-color: orangered;
    position: fixed;
    z-index: 4;
    transform: translateX(-100vw);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* animation: hamburger-links-open forwards 1s; */
}
.menu-items{
    color:white;
    text-underline-offset: 15px;
}
.menu-items:hover{
    transform: scale(1.05);
    transition: all 0.2s;
    text-underline-offset: 5px;
}
@keyframes hamburger-links-open {
    0%{
        opacity: 0;
    }
    50%{
     
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes hamburger-links-close {
        0%{
            opacity: 1;
        }
        50%{
        }
        100%{
            transform: translateX(-100vw);
            opacity: 0x;
        }
}
#menu{
    font-size: 40px;
}
#top-menu{
    position: absolute;
    z-index: 15;
    top: 0;
    height:10vh;
    width: 30vw;
    background-color: #ff8d22;
}
#logo{
    font-family: 'Manrope', sans-serif;
    color: #ff8d22;
    font-size: 80px;
    transform: translateY(0px);
}
#y{
    transform: translateY(3px);
    font-weight: 100;
    color: white;
} 

   

#m{
    padding-left: 50px;
    transform: translateY(3px);
    position: relative;
    color: orangered;
    font-family: 'Manrope', sans-serif;
    transform: translate(43px,0px);    
    opacity: 1;
    font-size: 80px;
    animation: m-move normal  2s ;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
#y{
    color: orangered;
    animation: y-move normal  2s ;
    animation-fill-mode: forwards;
    animation-delay:0.7s;
    transform: translateY(-200px);
    font-size: 80px;
    font-weight: 700;
}
.my{
    color: orangered;
}
.logo{
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* intro page */
#intro-page{
    padding-top: 350px;;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 100vh;
    width: 100vw;
}

#intro-text{
    color: white;
 
}
.intro-text{
    color: white;
    text-align: center;
    font-size: 80px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
}
#yourself{
    opacity: 0;

    animation: yourself-opacity normal 3s ;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    font-style: italic;
    transition: 1000ms;
}
#yourself{
    color: rgb(255, 56, 56);
}
#rate{
    color: white;
}
#search-label{
    font-family: 'Josefin Sans', sans-serif;
    color: white;

    font-size: 50px;
    transition: 200ms;
}
#search-input{
    transform: translateY(100px);
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    width:450px;
    font-size: 25px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: rgb(255, 56, 56);
    outline: none;
    transition: 400ms;
}
::placeholder { 
    opacity: 1;
  }

#search:active{
    border-bottom: orangered solid 2px;
}
#search{
    transform: translateY(40px);
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    color: white;
    width: fit-content;
}
#search:hover{
    transform: translateY(40px) scale(1.1);
    color: orangered ;
    border-bottom: orangered solid 2px;
}
#arrow-down{
    position: relative;
    bottom: -300px;
    width: 65px;
    animation: arrow-move infinite 2s;
}
@keyframes arrow-move {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes y-move {
    from{
    }
    to{
        transform: translateY(-5px);
    }
}
@keyframes m-move {
    from{

    }
    to{
        transform: translate(0px,0px);
    }
}

@keyframes yourself-opacity {
    from{
        opacity: 0;
    }
    to{
        /* text-shadow:3px 3px white; */
        opacity: 1;
    }
}

/* random movie section */

#random-movie{
    width: 100vw;
    height: fit-content;
   background-image: url("/img/graduate.png");
   background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#random-movie-title-intro{
    font-family: 'Manrope', sans-serif;
    font-size: 150px;
    max-width: 90vw;
    color: #FF8D22;
}
.random-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;

}
#random-generator{
 height: 80vh;
 background-color: white;
 background-color: #FF8D22;;
 color: white;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 60px;
}
#random-button{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    background-color: white;
    color: #FF8D22;
    border: none;
    width: 400px;
    height: 90px;
    font-size: 27px;
    border-radius:  20px;
}
#random-button:hover{
    background-color: #FF8D22;
    border: white solid 4px;
    color: white;
    transition: 200ms;
    transform:translate(0,-10px)
}


/* week picks */
#week-picks-container{
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url("/img/real-intothewild.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* border-bottom: white 3px solid; */
   
}
#week-img{
    width:100%;
    height: 100%;
     /* background-color: blue; */


}
#week-picks{
    top: 30%;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
    font-size: 60px;
    color: #72BE8B;
   
}
#week-pick-title{
    padding-top: 15%;
 color: white;
 font-family: 'Manrope', sans-serif;
 font-size: 80px;
}

#img{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40%;
    width:100%
    
}

#week-picks-content{
    height: 100vh;
   background-image: url(/img/Into-The-Wild-movie.webp);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
}
#into-title{
    padding-top: 60px;
}
#into-desc{
    font-size: 45px;
    text-align: center;
   
}
#into-genre{
    font-size: 20px;
}
#breakfast-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    
   
}
#breakfast-img{
    height: 100%;
    width: 40%;
    background-image: url(/img/breakfast.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}

#breakfast-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
    width: 60%;
    height: 100%;
    color: #296287;
 font-size: 80px;
}
#breakfast-title{
    padding-top: 50px;
    text-align: center;
  
}
#break-desc{
     color: white;
    width: 80%;
    font-size: 55px;
    text-align: center;
}
#breakgenre{
    font-size: 25px;
    color: white;
}
#the-big-ebowski-pic{
    width: 100vw;
    height: 100vh;
    background-image: url(/img/The-Big-Lebowski.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#big-text{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 40px;
    width: 60%;
    text-align: center;
}
#the-big-title{
    font-family: 'DM Serif Display', serif;
  font-size: 150PX;
  color: #FF8D22;
   animation: big-italic 2s infinite;
 }
 #the-big-desc{
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
   
    align-items: center;
    height: 20%;
    background-color: white;
    color: #FF8D22;
 }
 #big-desc-container
 {
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    width: 100vw;
   background-image: url(/img/vice.webp);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
    width: 100%;
    font-size: 40px;
    text-align: center;
    overflow-x: hidden;

 }

.hidden{
   opacity: 0;
   transition: all 2s;
}
 .show{
    opacity: 1;
 }
 @keyframes big-italic {
    0%{ text-shadow: 8px 8px orangered; transform: scale(100%);} 
    50%{ text-shadow: 4px 4px orangered; transform: scale(150%);}
    100%{text-shadow: 8px 8px orangered; transform:scale(100%);}
 }


 /* search page */
 #wrapper-searchpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
 .wrapper-search{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap: 30px;
    overflow-x: hidden;
  
 }
 #wrapper-movie{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 #hamburger-icon-search{
    z-index: 16;
    position: absolute; 
 }
 #search-title{
    box-sizing: content-box;
    color: #F7D21B;
    font-size: 70px;
    text-align: start;
     width:700px;
     border-bottom: 4px dotted white;
 }
 #search-desc-container{
    box-sizing: border-box;
    width: 800px;
    height: 800px;
    padding: 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    background-color: #FF8D22;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
 }
 #poster img{
    height: 800px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(77, 77, 77, 0.6);
    /* background-attachment: fixed; */
 }
 #search-desc{
    color: white;
    text-align: start;
    width: 100%;
    font-size: 43px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
 }
 #releasedate{
    width: 100%;
    text-align: start;
    padding-top: 20px;
    color: white;
    font-size: 40px;
    font-weight: 300;
 }
 #release-span{
    color:#F7D21B;
    font-weight: 400;
 }
 #search-desc-container h3{
    padding: 10px 0;
    font-size: 40px;
color: white;
    font-weight: 300;
 }
#search-genre-span{
    font-weight: 400;
    color: #F7D21B;
}
 #desc-title{
    padding-top: 20px;
    font-size: 40px;
    font-weight: 400;
    color: #F7D21B;
 }
 #rated-rating{
    color: #F7D21B;
    font-size: 60px;
 }
 #rating-button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
 }
 #btn-rate-it{
    background-color: orangered;
    color: white;
    margin: 15px;
    height: 80px;
    width: 300px;
    border: none;
    border-radius: 30px;
    font-size: 40px;
    /* box-shadow: 5px 5px white; */
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    transition: 0.6s;
 }
 #btnAndRelease{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    align-items: flex-start;
 }
 #btn-rate-it:hover{
    animation: rate-it-hover ease-in-out forwards 0.5s;
 }
 @keyframes rate-it-hover {
    0%{
        font-size: 40px;
    }
    40%{
        font-size: 35px;
        color: #F7D21B;
    }
    100%{
        font-size: 50px;
        color: #F7D21B;
    }
 }
/* rating section */

#rating-container{
    margin-top: 200px;
    background-color: #ff8d22;
   border: #ff8d22 solid 2px;
    height: 70vh;
    width: 80%;
    display: grid;
    grid-template-rows: 0.1fr auto;
    grid-template-columns: repeat(2,1fr);
    font-family: 'Josefin Sans', sans-serif;
}
#seenit-title{
    color: white;
    padding: 20px;
    grid-column: 1/3;
    text-align: center;
    font-size:80px;
}
#rating-container img{
    padding-top: 40px;
    width: 50px;
}
.criteria-boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.criteria-boxes h1{
    padding-bottom: 40px;
        color: #F7D21B;
        font-weight: 500;
}
.criteria-boxes div{
    position: absolute;
}
.ticked-stars{
    opacity: 0;
}
#total-rating{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    background-color: #FF8D22;
    width: 80%;
    font-family: 'Josefin Sans', sans-serif;
}
#total-rating-text{
color: #F7D21B;
}
#submit-rating{
    background-color: transparent;
    border: none;
    font-size: 50px;
    color: white;
    margin-bottom: 60px;

}

/* sökruta */
#result-container{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.search-info-intropage{
    padding: 5px;
}
.search-info-icon{
    padding-left: 10px;
}
.search-info-icon *{
    padding-top: 5px;
text-align: start;
}
.search-item-thumbnail img{
    width: 100px;
}
.release-span{
    color: #FF8D22;
    font-size: 20px;
}
.genres-span{
    color: #FF8D22;
    font-size: 20px;
}
.movieListItem{
    padding: 5px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.9);
    /* border-bottom: 2px dotted #F7D21B; */
    backdrop-filter: blur(15px);
    font-family: 'Josefin Sans', sans-serif;
    width: 500px;
    display: flex;
    justify-content: flex-start;
    
}
.movieListItem:hover{
    opacity: 0.6;
    transition: 100ms;
}
.movieListItem h1{
    font-size: 30px;
}
/* favorites page */
.wrapper-favorites{
    padding-top: 100px;
    height: 150vh;
    width: 100vw;
}
#favorites-title{
    padding-top: 30px;
    width: 100%;
    text-align: center;
    font-size: 110px;
    font-family: 'Josefin Sans', sans-serif;
    color: orangered;
}
.favorite-movies-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.favorite-test{
    border: 3px solid red;
    width: 400px;
    height: 50px;
}
.FavoriteListItem{
    padding: 20px;
    gap: 10px;
    height: 300px;
    min-height: fit-content;
    display: flex;
    font-family: "josefin Sans";
    background-color: #ff8d22;
    border: white 7px solid;
    align-items: center;
}
.FavoriteListItem h1{
    font-size: 50px;
    color: #F7D21B;
}

.FavoriteListItem img{
    width: 170px;
    border-radius: 6px;
  
}
.FavoriteListItem h3{
    padding:5px 0;
    color: white;
}
.FavoriteListItem p{
    padding: 5px 0;
    color: white;
    font-size: 20px;
}
.bottom-div-favorites{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-div-favorites h3{
    color: #F7D21B;
    font-size: 25px;
}
.search-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* random page */
.random-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
}
.random-movie-container{
    width: 800px;
    height: 700px;
    border: #FF8D22 solid 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#random-title{
    margin-top: 100px;
    font-size: 90px;
    
    color: orangered;
}
#random-movie-title{
    /* height: 160px; */
    color:#FF8D22;
    font-size: 60px;
    text-align: center;
}
#generate{
    margin-top: 30px;
    width: 300px;
    height: 55px;
    border-radius: 25px;
    border: none;
    background-color: orangered;
    color: white;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    transition: 300ms;
}
#generate:hover{
    background-color: #FF8D22;
}

#random-content{
    display: flex;
    justify-content: space-evenly;
}
#random-img{
    width: 350px;
}
#random-desc{
    width: 40%;
    font-size: 35px;
    display: none;
}
/* watched movies page */
.wrapper-watched{
    padding: 130px 40px 0 40px;
}
.watched-movies-container{
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(2,1fr);
}
.watched-poster img{
    width: 100px;
}

.genre-span{
    color: #F7D21B;
}
