*{
    padding: 0;
    margin: 0;
}
.wrapper{
    z-index: -2;
    background-color: #ff8d22;
}
header{
    z-index: 1;
    background-color:white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    height: 10vh;
    width: 100vw;
}
#hamburger-icon{
    margin-bottom: 30px;
    z-index: 16;
    top: 50%;
    position: absolute;
    transform: translateY(-20px);
}
.hamburger-bar{
    width: 60px;
    height: 6px;
    margin: 10px;
    background-color:white;
    border-radius: 10px;
    transition: 400ms;
    background-color: orangered;
}
#hamburger-links{
    top: 0;
    opacity: 0;
    width: 30vw;
    height: 100vh;
    background-color: orangered;
    position: fixed;
    z-index: 15;
    transform: translateX(-100vw);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* animation: hamburger-links-open forwards 1s; */
}
.menu-items{
    color:white;
    text-underline-offset: 15px;
}
.menu-items:hover{
    transform: scale(1.05);
    transition: all 0.2s;
    text-underline-offset: 5px;
}
@keyframes hamburger-links-open {
    0%{
        opacity: 0;
    }
    50%{
     
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes hamburger-links-close {
        0%{
            opacity: 1;
        }
        50%{
        }
        100%{
            transform: translateX(-100vw);
            opacity: 0x;
        }
}
#menu{
    font-size: 40px;
}
#top-menu{
    position: absolute;
    z-index: 15;
    top: 0;
    height:10vh;
    width: 30vw;
    background-color: #ff8d22;
}
#search-icon{
    opacity: 0;
    width: 40px;   
}
#logo{
    font-family: 'Manrope', sans-serif;
    color: #ff8d22;
    font-size: 80px;
    transform: translateY(0px);
}
#y{
    transform: translateY(3px);
    font-weight: 100;
    color: white;
} 

   

#m{
    padding-left: 50px;
    transform: translateY(3px);
    position: relative;
    color: orangered;
    font-family: 'Manrope', sans-serif;
    transform: translate(43px,0px);    
    opacity: 1;
    font-size: 80px;
    animation: m-move normal  2s ;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
#y{
    color: orangered;
    animation: y-move normal  2s ;
    animation-fill-mode: forwards;
    animation-delay:0.7s;
    transform: translateY(-200px);
    font-size: 80px;
    font-weight: 700;
}
.my{
    color: orangered;
}
.logo{
    z-index: 5;
    display: flex;
    align-items: center;
}
/* intro page */
#intro-page{
    padding-top: 350px;;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 100vh;
    width: 100vw;
}

#intro-text{
    color: white;
 
}
.intro-text{
    color: white;
    text-align: center;
    font-size: 80px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
}
#yourself{
    opacity: 0;

    animation: yourself-opacity normal 3s ;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    font-style: italic;
    transition: 1000ms;
}
#yourself{
    color: rgb(255, 56, 56);
}
#rate{
    color: white;
}
#search-label{
    font-family: 'Josefin Sans', sans-serif;
    color: white;

    font-size: 50px;
    transition: 200ms;
}
#search-input{
    transform: translateY(100px);
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    width:450px;
    font-size: 25px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: rgb(255, 56, 56);
    outline: none;
    transition: 400ms;
}
::placeholder { 
    color: orangered;
    opacity: 1;
  }

#search:active{
    border-bottom: orangered solid 2px;
}
#search{
    transform: translateY(40px);
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    color: white;
    width: fit-content;
}
#search:hover{
    transform: translateY(40px) scale(1.1);
    color: orangered ;
    border-bottom: orangered solid 2px;
}
#arrow-down{
    position: relative;
    bottom: -300px;
    width: 65px;
    animation: arrow-move infinite 2s;
}
@keyframes arrow-move {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes y-move {
    from{
    }
    to{
        transform: translateY(-5px);
    }
}
@keyframes m-move {
    from{

    }
    to{
        transform: translate(0px,0px);
    }
}

@keyframes yourself-opacity {
    from{
        opacity: 0;
    }
    to{
        /* text-shadow:3px 3px white; */
        opacity: 1;
    }
}

/* random movie section */

#random-movie{
    width: 100vw;
    height: fit-content;
   background-image: url("/img/graduate.png");
   background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#random-movie-title-intro{
    font-family: 'Manrope', sans-serif;
    font-size: 150px;
    max-width: 90vw;
    color: #FF8D22;
}
.random-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;

}
#random-generator{
 height: 80vh;
 background-color: white;
 background-color: #FF8D22;;
 color: white;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 60px;
}
#random-button{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    background-color: white;
    color: #FF8D22;
    border: none;
    width: 400px;
    height: 90px;
    font-size: 27px;
    border-radius:  20px;
}
#random-button:hover{
    background-color: #FF8D22;
    border: white solid 4px;
    color: white;
    transition: 200ms;
    transform:translate(0,-10px)
}


/* week picks */
#week-picks-container{
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url("/img/real-intothewild.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* border-bottom: white 3px solid; */
   
}
#week-img{
    width:100%;
    height: 100%;
     /* background-color: blue; */


}
#week-picks{
    top: 30%;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
    font-size: 60px;
    color: #72BE8B;
   
}
#week-pick-title{
    padding-top: 15%;
 color: white;
 font-family: 'Manrope', sans-serif;
 font-size: 80px;
}

#img{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40%;
    width:100%
    
}

#week-picks-content{
    height: 100vh;
   background-image: url(/img/Into-The-Wild-movie.webp);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
}
#into-title{
    padding-top: 60px;
}
#into-desc{
    font-size: 45px;
    text-align: center;
   
}
#into-genre{
    font-size: 20px;
}
#breakfast-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    
   
}
#breakfast-img{
    height: 100%;
    width: 40%;
    background-image: url(/img/breakfast.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}

#breakfast-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
    width: 60%;
    height: 100%;
    color: #296287;
 font-size: 80px;
}
#breakfast-title{
    padding-top: 50px;
    text-align: center;
  
}
#break-desc{
     color: white;
    width: 80%;
    font-size: 55px;
    text-align: center;
}
#breakgenre{
    font-size: 25px;
    color: white;
}
#the-big-ebowski-pic{
    width: 100vw;
    height: 100vh;
    background-image: url(/img/The-Big-Lebowski.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#big-text{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 40px;
    width: 60%;
    text-align: center;
}
#the-big-title{
    font-family: 'DM Serif Display', serif;
  font-size: 150PX;
  color: #FF8D22;
   animation: big-italic 2s infinite;
 }
 #the-big-desc{
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
   
    align-items: center;
    height: 20%;
    background-color: white;
    color: #FF8D22;
 }
 #big-desc-container
 {
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    width: 100vw;
   background-image: url(/img/vice.webp);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
    width: 100%;
    font-size: 40px;
    text-align: center;
    overflow-x: hidden;

 }

.hidden{
   opacity: 0;
   transition: all 2s;
}
 .show{
    opacity: 1;
 }
 @keyframes big-italic {
    0%{ text-shadow: 8px 8px orangered; transform: scale(100%);} 
    50%{ text-shadow: 4px 4px orangered; transform: scale (150%);}
    100%{text-shadow: 8px 8px orangered; transform:scale(100%);}
 }


 /* search page */
 .wrapper-search{
    height: 100vh;
    padding-top: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    perspective: 10px;
    gap: 50px;
 }
 #wrapper-movie{

    display: flex;
    flex-direction: column;
 }
 #hamburger-icon-search{
    margin-bottom: 30px;
    z-index: 16;
    top: 50%;
    position: absolute;
   
 }
 #search-title{
    font-size: 130px;
    font-family: 'Josefin Sans', sans-serif;
    color: #F7D21B;
    text-align: end;
     width:700px;
 }
 #search-desc-container{
    width: 40%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;

 }
 #poster{
  
    background-image: url("/img/kill-bill-poster.jpeg");
    /* background-attachment: fixed; */
   background-repeat: no-repeat;
   background-size: contain;
    height: 80%;
    width: 38%;
 }
 #search-desc{
    text-align: end;
    width: 100%;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
 }
/* rating section */
#rating-background{
    display: flex;
    justify-content: center;
}
#rating-container{
    background-color: #ff8d22;
   border: #ff8d22 solid 2px;
    height: 100vh;
    width: 80%;
    display: grid;
    grid-template-rows: 0.1fr auto;
    grid-template-columns: repeat(2,1fr);
}
.criterias{
    font-size: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    /* border: solid red 1px; */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    height: fit-content;
}

#rating-title{
    padding-top: 40px;
    font-family: 'Josefin Sans', sans-serif;
    color: #F7D21B;
    text-align: center;
    grid-column: 1/3;
    font-size: 90px;
    height: 100px;
}

/* acting stars */
.acting-stars{
    display: flex;
}
.acting-stars img{
    width:60px;
}

.acting-yellow-stars{
    display: flex;
    position: absolute;
    transform: translateY(50px);
}

.acting-yellow-stars *{
    opacity: 0;
    transform: scale(2);
    width: 60px;
}
/* story stars */
.story-stars{
    display: flex;
}
.story-stars img{
    width:60px;
}
.story-yellow-stars{
    display: flex;
    position: absolute;
    transform: translateY(50px);
}

.story-yellow-stars *{
    opacity: 0;
    transform: scale(2);
    width: 60px;
}
/* dialogue stars */
.dialogue-stars{
    display: flex;
}
.dialogue-stars img{
    width:60px;
}
.dialogue-yellow-stars{
    display: flex;
    position: absolute;
    transform: translateY(50px);
}

.dialogue-yellow-stars *{
    opacity: 0;
    transform: scale(2);
    width: 60px;
}
/* character stars */
.characters-stars{
    display: flex;
}
.characters-stars img{
    width:60px;
}
.characters-yellow-stars{
    display: flex;
    position: absolute;
    transform: translateY(50px);
}

.characters-yellow-stars *{
    opacity: 0;
    transform: scale(2);
    width: 60px;
}
/*visuals stars */
.visuals-stars{
    display: flex;
}
.visuals-stars img{
    width:60px;
}
.visuals-yellow-stars{
    display: flex;
    position: absolute;
    transform: translateY(50px);
}

.visuals-yellow-stars *{
    opacity: 0;
    transform: scale(2);
    width: 60px;
}
/*execution stars */
.execution-stars{
    display: flex;
}
.execution-stars img{
    width:60px;
}
.execution-yellow-stars{
    display: flex;
    position: absolute;
    transform: translateY(50px);
}

.execution-yellow-stars *{
    opacity: 0;
    transform: scale(2);
    width: 60px;
}


/* sökruta */
#result-container{
    display: flex;
    flex-direction: column;
}
.search-result{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    max-height:200px;
    background-color: blue;
}
.search-info{
    padding: 5px;

}
.search-item-thumbnail img{
    width: 50px;
}
.movieListItem{
    margin-top: 20px;
    border-bottom: white 2px solid;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    width: 400px;
    display: flex;
    justify-content: flex-start;
}
.movieListItem:hover{
    opacity: 0.6;
    transition: 200ms;
}
.movieListItem h1{
    font-size: 30px;
}
/* favorites page */
.wrapper-favorites{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#favorites-title{
    font-size: 130px;
    font-family: 'Josefin Sans', sans-serif;
    color: orangered;
}

/* random page */
.random-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
}
.random-movie-container{
    width: 800px;
    height: 700px;
    border: #FF8D22 solid 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#random-title{
    margin-top: 100px;
    font-size: 90px;
    
    color: orangered;
}
#random-movie-title{
    /* height: 160px; */
    color:#FF8D22;
    font-size: 60px;
    text-align: center;
}
#generate{
    margin-top: 30px;
    width: 300px;
    height: 55px;
    border-radius: 25px;
    border: none;
    background-color: orangered;
    color: white;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    transition: 300ms;
}
#generate:hover{
    background-color: #FF8D22;
}

#random-content{
    display: flex;
    justify-content: space-evenly;
}
#random-img{
    width: 350px;
}
#random-desc{
    width: 40%;
    font-size: 35px;
    display: none;
}
